body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myelement{
    width: 200px;
    height: 200px;
    background-color: burlywood;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(.42, 0, .58, 1);
    animation-timing-function: steps(10, end);

}
.grower{
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes grow {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scaleX(1.8);
        background: darkturquoise;
    }
}
.grower{
    width: 100px;
    height: 100px;
    background-color: lightseagreen;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
label{
    display: block;
}